.dashboard {
    background: #FAFAFA;
    display: flex;
    min-height: 90vh;
}

nav{
    height: 100%;
    background: #333333;
}

table.table thead{
    background-color: #63A7C4;
}

table.table thead tr{
    text-align: center;
}

table.table tbody tr{
    background-color: white;
}

table.table tbody tr td button{
    width: 100%;

}

div#table{
    padding-left: 5% ;
}
#users{
    width: 70%;
    display: flex;
    flex-direction: column;
}

#users h1{
    padding: 5%;
}
div#menu{
    width: 15vw;
}
div#menu nav{
    height: 100%;
}
div#menu nav ul{
    width: 100%;
    height: 20em;
    display: flex;
    flex-direction: column;
    padding: 5%;
    position: relative;
    top: 30px;
}
div#menu nav ul li a{
    color: #fafafa;
}
div#edit{
    display: flex;
    flex-wrap: wrap;
}
div#left{
    display: flex;
    flex-direction: column;
}
div#gp{
    margin: 20px;
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #233E50;
    color: #fafafa;
    padding: 10px;
    border-radius:5% ;
    box-shadow: 2px 0px 20px black;
}
div#gc{
    padding: 20px;
}
div#lp{
    margin-top: 20px;
    margin-left: 30px;
}
div#estoque{
    margin: 30px;
}
form.form{
    min-width: 300px;
    height: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #233E50;
    color: #fafafa;
    padding: 20px;
    border-radius:5% ;
    box-shadow: 2px 0px 20px black;
}