.card{
    width: 18rem;
}

.card-group{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#search form{
    max-width: 400px;
    height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #233E50;
    color: #fafafa;
    padding: 20px;
    border-radius:5% ;
    box-shadow: 2px 0px 20px black;
    margin: 20px;
}
div#top{
    display: flex;
    align-items: center;
    flex-direction: column;
}
