.sec-sobre{
    background-color: #233E50;
    color: #fafafa;
    display: flex;
    justify-content: space-around;
    padding: 5%;
}
#text-sobre{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sec-chamativa{
    background-image: url('./img/back.jpg');
    background-attachment: fixed;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: 2px 0px 20px black;
}
.sec-chamativa h1{
    font-size: 4em;
    font-weight: bold;
    font-style: italic;
    color: #fafafa;
    text-shadow: 5px 5px 20px black;
}
.sec-chamativa h1::after{
    content: "";
    position: relative;
    left: 30%;
    top: 5px;
    display: block;
    width: 50%;
    height: 5px;
    background-color: #fafafa;
}
.sec-mais-vendidos{
    text-align: center;
}