header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: #262626;
    color: #fafafa;
}

ul{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}