div#footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #25323B;
    color: #fafafa;
    min-height: 8vh;
}
div#socialmedia{
    width: 25%;  
    display: flex;
    justify-content: space-around;
    padding: 0 5%;
}
div#footer p{
    display: flex;
    justify-content: center;
    width: 25%;
}
div#footer h4{
    width: 25%;
    text-align:center;
}