.App {
    
}
div.login{
    min-height: 82vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.login form{
    min-width: 300px;
    max-width: 400px;
    height: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #233E50;
    color: #fafafa;
    padding: 20px;
    border-radius:5% ;
    box-shadow: 2px 0px 20px black;
}

.btn{   
    width: 60%;
    max-width: 200px;
    align-self: center;
    margin: 5px;
}

div.login form label{
    display: flex;
    flex-direction: column;
    text-align: initial;
}

.cadastro{
    display: flex;
    flex-direction: column;
}

.cadastro form{
    min-width: 50px;
    width: 30%;
    max-width: 400px;
    margin: 30px;
}
.edit{
    display: flex;
    flex-direction: column;
}
.edit form{
    min-width: 50px;
    width: 40%;
    max-width: 500px;
}